button#presentationMode,
button#print,
button#download,
button#secondaryToolbarToggle,
#viewBookmark
{
  display: none !important;
}

body,
#viewerContainer
{
  background-color: #f4f4f4;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#outerContainer,
#viewer
{
  width: 100%;
  height: 99%;
  overflow: auto;
  padding-right: 20px;
}